@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    /*Color primario*/
      --colorPrimario: #274F73;
  
      /*Luces*/
      --luz-P1:#476E91;
      --luz-P2:#81A1BE;
      --luz-P3:#AABFD1;
  
      /*Sombras*/
      --sombra-P1:#093E6D;
      --sombra-P2:#0E3151;
      --sombra-P3:#02203A;

    /*Color secundario*/
      --colorSecundario:#592677;
  
      /*Luces*/
      --luz-S1:#794896;
      --luz-S2:#9558BA;
      --luz-S3:#AA82C2;
 
      /*Sombras*/
      --sombra-S1:#390D53;
      --sombra-S2:#33044E;
      --sombra-S3:#220335;
  
    /*Color acento*/
      --colorAcento: #FF7A00;
  
    /*Blancos y negros*/
      --blanco: #ECF6FF;
      --negro:#01101D; 
  
    /*Cancelar y aceptar*/
      --cancelar:#CE1616;
      --aceptar:#1BC700;
  
    /*Fuentes*/
      font-family: 'Roboto';
      --tamaño: 23px;
      --estilo:  normal;
      --weight: 400;
      --line:  normal;
      --tamañochico: 10px;
      --body: 16px;
      --botonesEspaciado: 3.3px;
      --botonTamaño: 15px;
      --tamañoPrecio:32px;
      
  }
  



*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: roboto;
    
}
body{
  width: 100%;
    background-color:var(--colorPrimario);
}
.main-footer{
  grid-area: footer;
}
.navbar-content{
  grid-area: header;
}
.background-main{
  grid-area: content;
}
.main {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "content" 
    "footer";
}
.logo{
  width: 150px;
  height: 69px;
}
img.game-main{
  margin: 2px;
}


/*--------HEADER------------------------------------------------------------------------------------------------------ */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*-------------------------- NAVBAR STYLE---------------------------------------------------------------------- */
.desplegar {
  transform: translateY(-200%);
}

.navbar-content {
  width: 100%;
  height: 100px;
  background-color: var(--sombra-P2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-content{
  display: flex;
  justify-content: center;
}
.logo{
  width: 180px;
  height: 90px;
}

.left-navbar {
  align-items: center;
  display: flex;
  position:relative;
}

.burger-img {
  cursor: pointer;
  margin-left: 10px;
  height: 30px;
}


.nav-burger{
  width: 180px;
  background-color: var(--sombra-P2);
  position: absolute;
  top: 100%;
  left:-20%;
  z-index: 11;
  transition: 0.4s;
  margin: 0px;
  border-bottom-right-radius: 3px;
}

.nav-burger li{
  color:var(--blanco);
  font-size: 16px;
  font-weight: var(--weight);
  font-family: var(--fuente);
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 40px;
  list-style: none;
  transition: all, 300ms;
  cursor: pointer;
}

.nav-burger li:hover{
  color:var(--colorSecundario);
}


.second-main-burger{
  padding-top: 12px;
}

.center-navbar {
  align-items: center;
  display: flex;
}
.right-navbar {
  align-items: center;
  display: flex;
  position:relative;
  
}

.profile-main{
  width: 180px;
  height: 250px;
  padding-left: 20px;
  padding-top: 20px;
  background-color: var(--sombra-P2);
  position: absolute;
  top: 100%;
  right: 0%;
  z-index: 11;
  transition: 0.4s;
  border-bottom-left-radius:3px;
}
.img-profile-redes{
  margin: 6px;
  padding-bottom: 3px;
  height: 35px;
  width: 35px;
}



.container-img ul li{
  list-style: none;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  color:var(--blanco);
  font-family: var(--fuente);
  font-size: 16px;
  font-weight: var(--weight);
}

.container-img ul li p{
  padding-left: 2px;
  cursor: pointer;
  transition: all, 300ms;
}

.container-img ul li p:hover{
  color: var(--colorSecundario);
}

.container-img ul li img{
  padding-right: 6px;
  margin-top: 2px;
  color: var(--blanco);
  width: 30px;
  height: 25px;
}

.user-img {
  margin-left: 10px;
  margin-right: 20px;
  cursor: pointer;
}
.icon-menu{
  width: 30px;
  height: 30px;
}

.sub{ 
  width: calc(100% - 70px); 
  margin-left: 30px; 
  height: 1px; 
  background:var(--blanco);
}
img.logo{
  margin-left: 30px;
}

/*---------------------------------------------------------------------------------------------------------------------*/

/*--------FOOTER-------------------------------------------------------------------------------------------------------*/
footer {
  background-color:var(--sombra-P3);
  color: white;

}
.main-footer{
  display: flex;
  align-items: flex-start;
  flex-direction:column;
  flex-wrap: wrap;
  padding: 5px;
}
div.div-logo{
  
  display: flex;
  align-items: center;
  margin-left: 130px;
  margin-right: 100px;
}
footer .sec-links h3{
  margin-bottom: 15px;
  display: inline-block;
}
footer .sec-links ul li a{
  display: block;
  color: white;
  margin-bottom: 10px;
  
}
footer .logo ul li {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.redes{
  margin: 15px;

}
.seccion-links{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;

}
.sec-links {
  margin: 15px;
}
.footer-logo{
  margin: 10px;
}
.input-footer{
  margin: 10px;
}
.Redessociales{
  display: inline-flex;
  flex-direction: row; 
  justify-content:flex-start;
}
.Redessociales a {
  margin: 5px;
}
.footer-info{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: baseline;

  
}
.footer-info p, .footer-info input{
  margin: 5px;
}
/*------SECTION CARRUSELES--------------------------------------------------------------------------------------------*/
.background-main{
  display: flex;
  flex-direction: column;
  align-items: center;
 

}
.parati{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

/*---------------------------------------------------------------------------------------------------------------------*/

/*------LOGIN----------------------------------------------------------------------------------------------------------*/
.logo-login .logo{
  width: 400px;
  height: 80px;
}
.container-todo-form{
  display: flex;
  justify-content: center;
  width: 900px;
  height: 500px;
  padding-left: 15%;
  margin-bottom: 30px;
}
.fotoform{
  width: auto;
  height: 500px;
}
.form-container {
  width: 320px;
  background-color: var(--sombra-P2);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}
.formularios{
  background: linear-gradient(180deg,#274F73,#592677);
  
}
.form-container .title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--blanco);
  font-family: var(--fuente);
  font-size: var(--tamaño);
}
.form {
  margin-top: 1.5rem;
  
}
.input-group {
  margin-right: 25px;
  margin-top: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  
}
.input-group label {
  display: block;
  color: var(--blanco);
  margin-bottom: 4px;
}
.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid var(--sombra-P2);
  outline: 0;
  background-color:var(--sombra-P1);
  padding: 12px;
  color: var(--blanco);
}
.input-group input:focus {
  border-color: var(--colorPrimario);
}
.forgot {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 1rem;
  color: var(--blanco);
  margin: 20px 0 20px 0;
}
.forgot a{
  color: var(--blanco);
}
.forgot a:hover, .signup a:hover {
  text-decoration: underline var(--blanco);
}
.btn-iniciarsesion {
  display: block;
  width: 80%;
  margin-left: 20px;
  background-color: var(--colorAcento);
  padding: 0.75rem;
  text-align: center;
  color: var(--blanco);
  border: none;
  border-radius: 0.37rem;
  font-weight: var(--weight);
  font-family: var(--fuente);
  font-size: var(--botonTamaño);
  letter-spacing: var(--botonesEspaciado);
  
}
.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.line {
  height: 1px;
  flex: 1 1 0%;
  margin-left: 5px;
  margin-right: 5px;
  background-color: var(--blanco);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--blanco);
}
.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons .icon {
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}
.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  font-family: var(--fuente);
}
.crear-cuenta{
  color: var(--blanco);
  font-family: var(--fuente);
}
/*----------------------------------------------------------------------------------------------------------------------*/

/*--------REGISTRARSE---------------------------------------------------------------------------------------------------*/
.form-container-regis{
  width: 320px;
  background-color: var(--sombra-P2);
  padding: 2rem;
  color: var(--blanco);
  padding-top: 0px;
}
.form-container-regis .title-regis{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 15px;
  font-family: var(--fuente);
  font-size: var(--tamaño);
}
.social-icons-registrarse .icon{
  padding: 6px;
  border: none;
  background-color: transparent;
  margin-left: 2px;
}
.parte-superior-regis{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3px ;
}
.social-message-regis{
  display: flex;
  align-items: center;
}
.social-message-regis{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    color: var(--blanco);
}
.form-regis{
  display: flex;
  flex-direction:column;
  padding-top: 0px;
}
.input-group-regis{
  margin-right: 25px;
  margin-top: 12px;
  font-size: 0.875rem;
  line-height: 10px;
  font-family: var(--fuente);
  font-size: 14px;

}
.input-group-regis label, .input-group-sup-1 label, .input-group-sup label {
  display: block;
  color: var(--blanco);
  margin-bottom: 6px;
}
.input-group-regis input,.form-primerosinput .input-group-sup-1 input,.form-primerosinput .input-group-sup input{
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid var(--sombra-P2);
  outline: 0;
  background-color:var(--sombra-P1);
  padding: 8px;
  padding-left: 10px;
  color: var(--blanco);
}
.form-primerosinput{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.form-primerosinput .input-group-sup .edad {
  width: 70%;
  border-radius: 0.375rem;
  border: 1px solid var(--sombra-P2);
  outline: 0;
  background-color:var(--sombra-P1);
  padding: 8px;
  padding-left: 1px;
  color: var(--blanco);
 
}
.input-group-sup-1 .nombreyapellido{
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid var(--sombra-P2);
  outline: 0;
  background-color:var(--sombra-P1);
  color: var(--blanco);
  
}
.input-group-sup{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 10%;
  font-family: var(--fuente);
  font-size: 14px;
  
}
.input-group-sup-1{
  display: flex;
  flex-direction: column;
  width: 60%;
  font-family: var(--fuente);
  font-size: 14px;
}
.input-group-regis input:focus, .input-group-sup-1 input:focus, .input-group-sup input:focus {
  border-color: var(--colorPrimario);
}
.btn-registrarse{
  display: block;
  width: 40%;
  background-color: var(--colorAcento);
  padding: 10px;
  text-align: center;
  color: var(--blanco);
  border: none;
  border-radius: 0.37rem;
  font-weight: var(--weight);
  font-family: var(--fuente);
  letter-spacing: var(--botonesEspaciado);
  font-size: var(--botonTamaño);
 
}
.signup-regis{
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  display: flex;
  justify-content: center;
  margin-top: 6px;
}
.signup-iniciar{
  color: var(--blanco);
  margin-left: 2px;
}
.fin-form-regis{
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}
.fin-form-regis .btn-registrarse{
  margin-top: 5px;
}
.obligatorio{
  color: var(--cancelar);
  margin-left: 3px;
}
.signup-regis a:hover{
  text-decoration: underline var(--blanco);
}
/*-----reCaptcha-----------*/
.robot {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--blanco);
  margin-top: 10px;
  height: 30px;
  width: 190px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tx-small {
  margin-left: 8px;
  font-size: var(--tamañochico);
  color: var(--negro);
}
.robot .check {
  width:70%;
  display: flex;
  justify-content: left;
  align-items: center;
}
/*----- Ajusta el tamaño del checkbox -----*/
.check input[type="checkbox"] {
  transform: scale(1.2); /* Cambia el valor para ajustar el tamaño del checkbox */
  margin-right: 5px; /* Espacio entre el checkbox y el texto */
  width: 20px; /* Espacio entre el checkbox y el borde */
}
.logo_recaptcha{
  width:25x ;
  height: 25px;
 
}

/*---------------------------------------------------------------------------------------------------------------------*/

/*---------JUEGO-------------------------------------------------------------------------------------------------------*/

  .juego-linea{
    width: 897px;
    height: 536px;
    margin: 30px;

  }
  .titulo-info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 40px;
   
  }
  .titulo-info p{
    margin-left: 5px;
    margin-bottom: 5px;
    text-decoration: underline;
    text-decoration-color: rgba(236, 246, 255, 0.459);
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    
  }
  .info-juego{
    margin: 30px;
    color: var(--blanco);
    font-family: var(--fuente);
    font-size: var(--tamaño);
    font-style: var(--estilo);
    font-weight: var(--weight);
    line-height:var(--line);
    text-align: justify;
  }
  .main-footer{
    grid-area: footer;
  }
  .navbar-content{
    grid-area: header;
  }
  .contenedor-juego{
    grid-area: juego;
  }
  .info-juego{
    grid-area: info;
  }
  .similares{
    grid-area: similares;
  }
  .body-juego {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    'header header'
    'juego similares'
    'info  similares'
    'footer footer';
  }
  .gameplays{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .gameplays img{
    width:375px ;
    height: 216px;
  }
  img.vermas{
    width: 30px;
    height: 30px;
  }
  .btn-vermas{
    display: flex;
    flex-direction: column;
  }
  .texto-vermas{
    font-family: var(--fuente);
    font-size: var(--tamañochico);
    font-style: var(--estilo);
    font-weight: var(--weight);
    line-height: var(--line);
    margin-top: 5px;
    
  }
  hr{
   background-color: var(--blanco);
   border: 1px solid var(--blanco);
   width: 891px; 
   margin-top: 30px;
   margin-bottom: 10px;
   opacity: 0.1;
   
  }
  .caja-comentario{
    background-color: var(--luz-P3);
    border-radius: 3px;
    height: 94px;
    width: 891px;

  }
  .caja-comentario input{
    width: 710px;
    height: 47px;
    margin: 20px;
    border-radius: 3px;
    border: 1px solid var(--blanco);
  }
  .btn-enviar{
    background-color: var(--colorAcento);
    border: 1px solid var(--colorAcento);
    color: var(--blanco);
    width: 112px;
    height: 48px;
    border-radius: 10px;
  }
  ::placeholder{
    color: var(--luz-P2);
    padding-left: 5px;
  }
  .usuario-comentarios{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    margin: 10px;
  }
  .usuario-comentarios .fecha-comentario{
    margin-left: 5px;
    font-family: var(--fuente);
    font-size: var(--tamañochico);
    line-height: var(--line);
    font-style: var(--estilo);
  }
  .usuario-comentarios .nombre{
    margin-left: 5px;
    font-family: var(--fuente);
    font-size: var(--body);
    line-height: var(--line);
    font-style: var(--estilo);
  }
  .usuario-comentarios .img-user{
    width: 30px;
    height: 30px;
  }
  .comentario{
    font-family: var(--fuente);
    line-height: var(--line);
    font-size: var(--body);
    color: var(--blanco);
    margin: 5px;
    margin-left: 20px;
    font-style: var(--estilo);
  }
  .comentarios{
    display:flex;
    flex-direction: column;

}
.mas-comentarios{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*--------------------------------------------------------------------------------------------------------------------*/

/*----CARDS-----------------------------------------------------------------------------------------------------------*/
.similares{
  background-color: var(--luz-S1);
  margin-top: 30px;
  margin-right: 30px;
  height: 970px;
}
.card-chica{
  background-color: var(--sombra-S3);
  width: 280px;
  height: 240px;
  border-radius: 10px;
  margin:10px;
  margin-top: 50px;
  position:relative;
}

.info-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-agregar{
  display: flex;
  justify-content: center;
  margin-left: 8px;
  margin-bottom: 10px;
  margin-top: 18px;
  background-color: var(--colorPrimario);
  width: 141px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid var(--colorPrimario);
  letter-spacing: var(--botonesEspaciado);
  font-family: var(--fuente);
  font-size: var(--botonTamaño);
  color: var(--blanco);
  padding: 15px;
  
}
.carrito-boton{
  margin-right: 5px;
  margin-left: 2px;
 
}
.precio-card{
  margin-top: 18px;
  margin-right: 34px;
  margin-bottom: 10px;
  font-family: var(--fuente);
  font-size: var(--tamañoPrecio);
  line-height: var(--line);
  color: var(--colorAcento);
}
.card-chica .img-card{
  width:280px ;
  height: 150px;
 border-top-right-radius: 10px;
 border-top-left-radius: 10px;
}
.ribbon-gratis {
  display: flex;
  align-items: center;
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  color: var(--negro);
  font-size: 20px;
  position: absolute;
  height: 30px;
  inset: var(--t) calc(-1*var(--f)) auto auto;
  padding-top: 3px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  clip-path: 
    polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)));
  background: #FFD700;
  box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
  border-radius: 2px;
}
.ribbon-oferta {
  display: flex;
  align-items: center;
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  color: var(--negro);
  font-size: 20px;
  position: absolute;
  height: 30px;
  inset: var(--t) calc(-1*var(--f)) auto auto;
  padding-top: 3px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  clip-path: 
    polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)));
  background:var(--aceptar);
  box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
  border-radius: 2px;
  font-weight: bold;
}

/*--------------------------------------------------------------------------------------------------------------------*/

/*---------------CARGA------------------------------------------------------------------------------------------------*/
.container-progress{
  display: flex;
  width: 400px;
  padding: 50px 0;
  border-radius: 8px;
  background: var(--sombra-P2);
  row-gap: 30px;
  flex-direction: column;
  align-items: center;
  margin-left:473px;
  margin-top:8%;
  margin-bottom: 8%;
}
.logo-progress{
  margin: 5px;
  width: 200px;
  height: 89px;
}
.circular-progress{
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circular-progress::before{
  content: "";
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-color: var(--blanco);
}
.progress-value{
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: var(--luz-S1);
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------SLIDER-ARRIBA------------------------------------------------------*/
.carousel {
  opacity: 1;
  position: relative;
  margin-top: 26px;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 88%;
}

.carousel-control {
  background-color: var(--sombra-P1);
  border-radius: 50%;
  color: var(--sombra-S3);
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: var(--luz-P1);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #e96101;
}





@media only screen and (min-width: 1024px){

/*--------SLIDER---------------------------------------------------------------------------------------------------*/
  .profile-main{
   right: -10%;
  }

/*--------CARRUSEL---------------------------------------------------------------------------------------------------*/

.parati{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*--------HEADER---------------------------------------------------------------------------------------------------*/
  .logo{
    width: 223px;
    height: 105px;
  }
  img.menu_cerrado{
    width: 40px;
    height: 40px;
    margin-right: 0px;
  }
  .navbar-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
.nav-burger{
    width: 200px;
    background-color: var(--sombra-P2);
    position: absolute;
    top: 100%;
    left:-20%;
    z-index: 11;
    transition: 0.4s;
    margin: 0px;
  }
.profile-main{
    width: 200px;
  }
/*------------------------------------------------------------------------------------------------------------------*/
  
/*---------FOOTER---------------------------------------------------------------------------------------------------*/
  .main-footer{
    display: flex;
    align-items: flex-start;
    flex-direction:row;
    flex-wrap: nowrap;
    padding: 5px;
  }
  div.div-logo{
    display: flex;
    align-items: center;
   margin: 0px;
    
  }
   /*-----------------------------------------------------------------------------------------------------------------*/

.logo-login{
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

}