:root{
    /*Color primario*/
      --colorPrimario: #274F73;
  
      /*Luces*/
      --luz-P1:#476E91;
      --luz-P2:#81A1BE;
      --luz-P3:#AABFD1;
  
      /*Sombras*/
      --sombra-P1:#093E6D;
      --sombra-P2:#0E3151;
      --sombra-P3:#02203A;

    /*Color secundario*/
      --colorSecundario:#592677;
  
      /*Luces*/
      --luz-S1:#794896;
      --luz-S2:#9558BA;
      --luz-S3:#AA82C2;
 
      /*Sombras*/
      --sombra-S1:#390D53;
      --sombra-S2:#33044E;
      --sombra-S3:#220335;
  
    /*Color acento*/
      --colorAcento: #FF7A00;
  
    /*Blancos y negros*/
      --blanco: #ECF6FF;
      --negro:#01101D; 
  
    /*Cancelar y aceptar*/
      --cancelar:#CE1616;
      --aceptar:#1BC700;
  
    /*Fuentes*/
      --fuente: 'Roboto';
  }



*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: roboto;
}
body{
    
    background-color:#274F73;
}

.main-footer{
  grid-area: footer;
}
.navbar-content{
  grid-area: header;
}
background-main{
  grid-area: content;
}

.main {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "content" 
    "footer";
}

footer {
  width: 100%;
  background-color:#02203A;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 15px;
  color: white;
}
.footer-content{
  display: flex;
  align-items: baseline;
  flex-direction:row;
  flex-wrap: wrap;
  

}
.div_logo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.logo{
  width: 105px;
  height: 105px;
}
footer .sec-links {
  width: 20%;
  
}
footer .sec-links h3{
  margin-bottom: 15px;
  display: inline-block;
}
footer .sec-links ul li a{
  display: block;
  color: white;
  margin-bottom: 10px;
  
}
footer .logo ul li {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.redes{
  width: 100%;
}

.seccion-links{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-evenly;

}






















  


/* LOGIN*/
.container-todo-form{
  display: flex;
  justify-content: center;
  width: 900px;
  height: 500px;
  padding-top: 2%;
  padding-left: 15%;
}
.fotoform{
  width: auto;
  height: 500px;
}
.form-container {
  width: 320px;
  background-color: var(--sombra-P2);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

.form {
  margin-top: 1.5rem;
  
}

.input-group {
  margin-right: 25px;
  margin-top: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: var(--blanco);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid var(--sombra-P2);
  outline: 0;
  background-color:var(--sombra-P1);
  padding: 12px;
  color: var(--blanco);
}

.input-group input:focus {
  border-color: var(--colorPrimario);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.45rem;
  line-height: 1rem;
  color: var(--blanco);
  margin: 10px 0 18px 0;
}

.forgot a,.signup a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .signup a:hover {
  text-decoration: underline var(--blanco);
}

.btn-iniciarsesion {
  display: block;
  width: 100%;
  background-color: var(--colorAcento);
  padding: 0.75rem;
  text-align: center;
  color: var(--blanco);
  border: none;
  border-radius: 0.37rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: var(--blanco);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--blanco);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}


@media only screen and (min-width: 1024){
  /*Footer*/
footer {
  height: 40%;
  width: 100%;
  background-color:#02203A;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 15px;
  color: white;
}

footer .footer-content{
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;

}
footer .sec-links {
  width: 20%;
  padding: 5px 5px;
}
footer .sec-links h3{
  margin-bottom: 15px;
  display: inline-block;
}
footer .sec-links ul li a{
  display: block;
  color: white;
  margin-bottom: 10px;
  
}
footer .logo ul li {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}




/* NAVBAR STYLE */

.navbar-content{
width: 100%;
height: 100px;
background-color:var(--sombra-P2);
display: flex;
flex-direction: row;
justify-content: space-between;
}

.left-navbar{
align-items: center;
display: flex;
}

.burger-img{
margin-right: 40px;
margin-left: 20px;

}
div img.burger-img{
width: 32;
height: 25;
}

.center-navbar{
align-items: center;
display: flex;
}

.lens-img{
margin-left: 250px;
}

.right-navbar{
align-items: center;
display: flex;
}

.user-img{
margin-left: 72px;
margin-right: 20px;
}

/* HOME*/

.background-main{
background-color: #274F73;
height: auto;
width: 100%;
padding-bottom: 42px;
}

.game-content{
padding-top: 40px;
display: flex;
justify-content: center;
position: relative;
}

.game-frame{
display: flex;
flex-direction: column;
width: 90%;
}

.jugar{
position: absolute;
width: 174px;
height: 48px;
border-radius: 10px;
background-color: var(--colorAcento);
color:var(--blanco);
margin-left: 920px;
margin-top: 300px;
}

.section-card{
padding-top: 60px;
padding-left: 60px;
}

.font-h1{
color:#FFF;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.content-card{
display: flex;
flex-direction: row;
}

.card{
width: 320px;
height: 257px;
background-color:var(--sombra-S3);
margin-right: 56px;
margin-top: 21px;
border-radius: 10px;
box-shadow: 2px 2px 4px 2px #000;
transition: all, 300ms;
}

.card:hover{
transform: scale(1.1);
}

.content-img-card{
width: 320px;
height: 181px;
margin: 0px;
}

.img-card{
width: 100%;
height: 100%;
}

.content-description{
margin-top: 20px;
margin-left: 10px;
}

.font-h2{
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 15px;
}

.font-h3{
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
}