:root{
    /*Color primario*/
      --colorPrimario: #274F73;
  
      /*Luces*/
      --luz-P1:#476E91;
      --luz-P2:#81A1BE;
      --luz-P3:#AABFD1;
  
      /*Sombras*/
      --sombra-P1:#093E6D;
      --sombra-P2:#0E3151;
      --sombra-P3:#02203A;

    /*Color secundario*/
      --colorSecundario:#592677;
  
      /*Luces*/
      --luz-S1:#794896;
      --luz-S2:#9558BA;
      --luz-S3:#AA82C2;
 
      /*Sombras*/
      --sombra-S1:#390D53;
      --sombra-S2:#33044E;
      --sombra-S3:#220335;
  
    /*Color acento*/
      --colorAcento: #FF7A00;
  
    /*Blancos y negros*/
      --blanco: #ECF6FF;
      --negro:#01101D; 
  
    /*Cancelar y aceptar*/
      --cancelar:#CE1616;
      --aceptar:#1BC700;
  
    /*Fuentes*/
      --fuente: 'Roboto';
  }



*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: roboto;
}
body{
  width: 100%;
    background-color:var(--colorPrimario);
}



.main-footer{
  grid-area: footer;
}
.navbar-content{
  grid-area: header;
}
background-main{
  grid-area: content;
}

.main {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "content" 
    "footer";
}

.logo{
  width: 150px;
  height: 69px;
}
img.game-main{
  margin: 2px;
}


/*--------HEADER---------------- */

header.navbar-content{
  background-color:var(--sombra-P2);
  height: 100px;

}
.navbar-content{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.menu_cerrado{
  margin-right: 32px;
}
.user-img{
margin-left: 5px;  
}
.game-main{
  width:400px ; 
  height: 129px;
}
.anterior,.siguiente{

  width: 10px;
  height: 15px;
  color: var(--sombra-S3);

}
div.game-frame{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin-top:10px;
  margin-bottom: 10px; 

}










/*--------FOOTER---------------- */
footer {
  background-color:var(--sombra-P3);
  color: white;

}
.main-footer{
  display: flex;
  align-items: flex-start;
  flex-direction:column;
  flex-wrap: wrap;
  padding: 5px;
}
div.div-logo{
  
  display: flex;
  align-items: center;
  margin-left: 130px;
  margin-right: 100px;
}


footer .sec-links h3{
  margin-bottom: 15px;
  display: inline-block;
}
footer .sec-links ul li a{
  display: block;
  color: white;
  margin-bottom: 10px;
  
}
footer .logo ul li {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.redes{
  margin: 15px;

}
.seccion-links{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;

}
.sec-links {
  margin: 15px;
}
.footer-logo{
  margin: 10px;
}
.input-footer{
  margin: 10px;
}
.Redessociales{
  display: inline-flex;
  flex-direction: row; 
  justify-content:flex-start;
}
.Redessociales a {
  margin: 5px;
}
.footer-info{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: baseline;

  
}
.footer-info p, .footer-info input{
  margin: 5px;
}




















  


/* LOGIN*/
.container-todo-form{
  display: flex;
  justify-content: center;
  width: 900px;
  height: 500px;
  padding-top: 2%;
  padding-left: 15%;
}
.fotoform{
  width: auto;
  height: 500px;
}
.form-container {
  width: 320px;
  background-color: var(--sombra-P2);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

.form {
  margin-top: 1.5rem;
  
}

.input-group {
  margin-right: 25px;
  margin-top: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: var(--blanco);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid var(--sombra-P2);
  outline: 0;
  background-color:var(--sombra-P1);
  padding: 12px;
  color: var(--blanco);
}

.input-group input:focus {
  border-color: var(--colorPrimario);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.45rem;
  line-height: 1rem;
  color: var(--blanco);
  margin: 10px 0 18px 0;
}

.forgot a,.signup a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .signup a:hover {
  text-decoration: underline var(--blanco);
}

.btn-iniciarsesion {
  display: block;
  width: 100%;
  background-color: var(--colorAcento);
  padding: 0.75rem;
  text-align: center;
  color: var(--blanco);
  border: none;
  border-radius: 0.37rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: var(--blanco);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--blanco);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}


@media only screen and (min-width: 1440px){
  .logo{
    width: 223px;
    height: 105px;
  }
  /*Footer*/
  .main-footer{
    display: flex;
    align-items: flex-start;
    flex-direction:row;
    flex-wrap: nowrap;
    padding: 5px;
  }
  div.div-logo{
    display: flex;
    align-items: center;
    padding: 0px;
    
  }
  
}