@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.content {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.content > div {
	flex: 1 1 calc(992px / 2);
}
.img {
	
	position: sticky;
	top: 0;
}
.img img {
	width: 556px;
	height: 301.51px;
    margin-left: 100px;
	object-fit: cover;
    margin-top: 100px;
    
}
.text {
	padding: 1.25rem;
    height: 700px;
   
}

.title {
	font-size:30px;
	font-weight: 600;
	margin-bottom: 1rem;
    margin-top: 65px;
}
p {
	margin-bottom: 1rem;
    display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    font-size: 15px;
}
.sub-title {
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-size: 2rem;
	font-weight: 600;
}

  

