


    /* ---------------imagenes scroll ----------------*/
.tituloSeccion-5{
    position: absolute;
    top: 4150px;
    margin-left: 100px;
    width: 802px;
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%; /* 56.7px */
    }


.datos-juego{
    position: absolute;
    display: grid;
    top: 4500px;
    width: 1280px;
    
}

.datos-juego h1{
    
    font-family: sans-serif;
    font-size: xx-large
}

.contenido-datos{
    display: grid;
    justify-items: start;
    margin-left: 100px;
    min-height: 1900px;
}

.contenido-datos img{
    top: 10%;
}

.contenido{
    display: flex;
    position: sticky;
    width: 80%;
}

.contenido img{
    position: sticky;
    width: 552px;
    height: 302.762px;
}

.contenido-texto{
    display: flex;
    flex-direction: column;
    width: 650px;
}

.contenidos-textos{
    position: absolute;
    grid-gap: 200px;
    display: grid;
    flex-direction: column;
    margin-left: 700px;
	

}

.contenido-texto h2{
    
    font-size: xx-large
   
}

.contenido-0, .contenido-1, .contenido-2, .contenido-3{
    visibility: hidden;
    position: absolute;
}

.mostrar-imagen{
    position: sticky;
    visibility: visible;
    
}


/*------------------------------------------*/

.tituloSeccion-6{
    margin-top: 4500px;
    margin-left: 100px;
}