
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
  :root{
    --font-family: 'Lato';
  }
body {
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
  height: 2000px;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;  

}

html {
  width: 1280px;
  
}

/****************----HEADER----- ****************/
  header {
    z-index: 24049;
    background: linear-gradient(to bottom,#5499F8 75%, #5498f800 95%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 227px;
    display: flex;
    justify-content: center;
    transition: all 1s ease;
  }
  
  header.fixed {
    z-index: 100000;
    position: fixed;
    top: 0;
    height: 103px;
    background: linear-gradient(to bottom,#5499F8 85%, #5498f800 95%);
  }
  
  #logo {
    width: 590px;
    height: 301px;
    margin-top: 91px;
    transition: all 0.3s ease-in-out;
  }
  
  #logo.fixed-img {
    position: absolute;
    top: 16px;
    width: 133px;
    height: 68px;
    margin-top: 0px;
  }
  
  /* Menu hamburguesa */
  #btn-menu {
    position: absolute;
    width: 42px;
    height: 36px;
    translate: (-50%, -50%);
    cursor: pointer;
    left: 100px;
    top: 20px;
  }

  
  
  #linea-1, #linea-2, #linea-3 {
    display: block;
    width: 34px;
    height: 4px;
    background-color: #FFE901;
    border-radius: 30px;
    border: solid 4px #2981FF;
    transform-origin: 0px 100%;
    transition: all 300ms;
    box-shadow: 5px 5px rgba(2, 24, 126, 1);
  }

/* -------Opcional Menu hamburguesa----------------------------------*/
/* Definimos los keyframes */
@keyframes animacion-linea-1 {
  to {
    transform: rotate(45deg) translate(-2px, -5px);
    box-shadow: none;
  }
}

@keyframes animacion-linea-2 {
  to {
    opacity: 0;
    margin-left: -30px;
  }
}

@keyframes animacion-linea-3 {
  to {
    transform: rotate(-45deg) translate(7px, 7px);
    box-shadow: none;
  }
}



/* Le pone los keyframes a los elementos en estado de hover */
.animacion-linea-1 {
  animation: animacion-linea-1 0.5s forwards; 
}

.animacion-linea-2{
  animation: animacion-linea-2 0.5s forwards;
}

.animacion-linea-3 {
  animation: animacion-linea-3 0.5s forwards;
}




/*-------------- Fin opcional --------------------------------*/
  
  #btn-comprar {
    position: absolute;
    right: 100px;
    top: 20px;
    width: 200px;
    height: 50px;
    background-color: #FFE901;
    border-radius: 30px;
    border: solid 4px #2981FF;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #02187E;
    box-shadow: 5px 5px rgba(2, 24, 126, 1);
    -webkit-text-stroke: 1px #02187E;
    cursor: pointer;
    margin-right: 60px;
    transition: transform 0.3s ease; /* Agregamos una transición de 0.3 segundos en la propiedad transform */
}

#btn-comprar:hover, #btn-comprar-ahora:hover {
  transform: scale(1.1); /* Cambiamos la escala al hacer hover */
  background-color: #ffaf01;
}


/**************** SECCION 1 ****************/

#seccion-1 {
  position: relative;
  background: url("/TPInterfaces/Entregable-4/img/Seccion1/fondo1.png");
  height: 850px;
  margin-top: 126px;
  display: flex;
  overflow: hidden; /* Oculta el desbordamiento de contenido que exceda los límites del elemento*/
  background-repeat: repeat-x;  /* la imagen de fondo se repetirá solo horizontalmente.*/
  animation: scroll 60s infinite linear;
}

@keyframes scroll {
  0% {background-position-x: 0px;}
  100% {background-position-x: -1240px;}
}

#seccion-1 img#edificio1,#seccion-1 img#edificio2, #seccion-1 img#edificio3 {
  position: absolute;
  z-index: 3;
  transition: all 3s; 
}

#seccion-1 img#edificio1 {
  height: 720px;
  width: 460px;
  bottom: 120px;
  left: -55px;
}

#seccion-1 img#edificio2 {
  height: 727.5px;
  width: 390px;
  bottom: 150px;
  right: 0px;
}

#seccion-1 img#edificio3 {
  left: 31%;
  height: 213.5px;
  width: 560px;
  bottom: 120px;
}

#seccion-1 img#personaje1, #seccion-1 img#personaje2, #seccion-1 img#personaje3 {
  position: absolute;
  z-index: 6;
  transition: transform 0.5s; 
}

#seccion-1 img#personaje1 {
  width: 360px;
  height: 444px;
  left: 8%;
  top: 262px;
}

#seccion-1 img#personaje2 {
  width: 465px;
  height: 465px;
  left: 35%;
  top: 277px;
}

#seccion-1 img#personaje3 {
  width: 393px;
  height: 393px;
  right: 10%;
  top: 209px;
}
#seccion-1 img#tela-araña-izq, #seccion-1 img#tela-araña-der {
  position: absolute;
  z-index: 10;
  display: block;
  transition: transform 0.5s; 

}

#seccion-1 img#tela-araña-izq {
  left: 0;
  bottom: -70px;
  transition: all 1s; 

}

#seccion-1 img#tela-araña-der {
  right: -40px;
  bottom: 200px;
  transition: all 1.5s; 


}

/**************** SECCION 2 "Conoce a Spidey y sus sorprendentes amigos" ****************/
  #seccion-2 {
    position: relative;
    top: -200px;    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  
  #seccion-2 .fondoseccion2{
    position: absolute;
    top: 3px;
    z-index: 0;
    background-color: #8F6AA6;
    width: 100%;
    height: 844px;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 85%);
  }
  
  #seccion-2 .seccion2 {
    z-index: 1;
    position: relative;
  }
  
  #seccion-2 .seccion2 div.texto {
    margin-left: -315px;
  }
  
  #seccion-2 .seccion2 div.personaje {
    position: absolute;
    right: -465px;
    top: 0;
    transform-origin: top;
  }  
  
  #seccion-2 .seccion2 div.texto h2 {
    color: white;
    font-size: 60px;
    font-weight: 400;
    width: 585px;
    margin: 0;
    margin-top: 200px;
  }
  
  #seccion-2 .seccion2 div.texto p {
    color: white;
    font-size: 20px;
    width: 580px;
  }
  
  #seccion-2 .seccion2 div.texto img#spideys-edificio {
    width: 751.65px;
    height: 413.13px;
  }
  
  #seccion-2 .seccion2 div.pesonaje img#personaje{
    
    width: 553px;
    height: 921px;
    z-index: 2;
  }
  
  
/**************** SECCION 3 Introduccion de los Spidermans****************/
#seccion-3 {
  position: relative;
  margin-top: -300px;
  margin-bottom: -260px;
  width: 100%;
  height: 1085px;
  background-color: white;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#seccion-3 div.historias {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 300px;
  height: 720px;
}

#seccion-3 div div.card-personaje {
  width: 332.96px;
}

#seccion-3 div div.card-personaje p{
  font-size: 20px;
}

/*"fadeIn" controla la opacidad (de 0 a 1), y "moverDesdeAbajo" controla el desplazamiento vertical desde abajo.*/
#card-1.fade-in {
  animation: fadeIn 2s ease-in, moverDesdeAbajo 2s ease-in;
}
#card-2.fade-in {
  animation: fadeIn 4s ease-in, moverDesdeAbajo 4s ease-in;
}
#card-3.fade-in {
  animation: fadeIn 6s ease-in, moverDesdeAbajo 6s ease-in;
}

@keyframes fadeIn {  
  from {  
      opacity:0;  
  }  

  to {  
      opacity:1;  
  }  
}
 /* Comienza con una translación vertical de 100 píxeles hacia abajo y 
 termina sin ninguna translación vertical (posición original).*/
@keyframes moverDesdeAbajo {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0);
  }
}
/*Aplica la regla de transformación para las tarjetas card-1, card-2, y card-3, estableciendo 
su posición vertical en 0 (sin desplazamiento).*/
#card-1,#card-2, #card-3 {
  transform: translateY(0);
}

/**************** SECCION 4 Pistas ****************/
.group-four{
  margin-top: 145px;
  position: relative;
  z-index: 2;
}
.group-four #card1{
  position: absolute;
  left: 50px;
  top: -90px;

}

.group-four #card1:hover,.group-four #card2:hover,.group-four #card3:hover{
  transform: skewY(10deg) skewX(-20deg) scale(1.1);
  transition: all .5s ease-in-out;
  z-index: 10; /*posición de apilamiento de un elemento en el eje Z*/
}

.group-four #card2{
  position: absolute;
  left: 20px;
  top: 70px;
}
.group-four #card3{
  position: absolute;
  left: 53px;
  top: 250px;
}
 
/**************** SECCION 5 "Los vengadores acompañando tu aventura" ****************/
.seccionFive{
  background-image: url(/TPInterfaces/Entregable-4/img/Seccion5/fondoDiv.png);
  background-repeat: no-repeat; /*para que la imagen de fondo no se repita en ninguna dirección*/
  background-size: cover;  /*Ajusta el tamaño de la imagen de fondo para cubrir completamente el contenedor*/
  background-position: center; 
  background-color: #fff;
  position: relative;
  width: 100%;
  top: -100px;
  height: 1000px;
  display: flex;
  justify-content: center;

}

.seccionFive #title{
  position: absolute;
  top: 210px;
  color: #FFF;
  width: 507px;
  left: 104px;
  font-size: 50px;
}  
.seccionFive #phanter{
  position: absolute;
  right: 240px;
  top: 275px;
  z-index: 1;
}
.seccionFive #elastic{
  position: absolute;
  left: 128px;
  top: 395px;
  z-index: 4;
}
.seccionFive #hulk{
  position: absolute;
  right: 45px;
  top: 595px;
  z-index: 4;
}
.seccionFive .fondo{
  position: relative;
  top: 490px;
  left: 0px;
  
}
.seccionFive .fondo #part2{
  position: absolute;
  left: 0px;
  z-index: 5;
  
}
.seccionFive .fondo #part3{
  position: absolute;
  left: 0px;
  z-index: 3;
   

}
#phanter{
  width:700px ;
  height:700x ;
  
}

.seccionFive .fondo #sky{
  box-shadow: 0px 0px 70px;

}


/**************** SECCION 6 "Mas amigos, mas diversión!" ****************/

    /* ---------------imagenes scroll ----------------*/
    .tituloSeccion-5{
     
      top: 4150px;
      margin-left: 100px;
      width: 802px;
      color: #000;
      font-size: 60px;
      font-style: normal;
      font-weight: 600;
      line-height: 94.5%;
      top:4200px;

      }
  
  
  .datos-juego{
      position: sticky;
     
      width: 1280px;

      
  }
  .contenido contenido-0{
    top:300;
  }
  
  .contenido-datos{
      display: grid;
      justify-items: start;
      margin-left: 100px;
      min-height: 2200px;
  }
  
  .contenido-datos img{
      top: 10%;
      
  }
  
  .contenido{
      display: flex;
      position: sticky;
  }
  
  .contenido img{
      position: sticky;
      width: 556px;
      height: 302.762px;
      top:150px;
      
      
  }
  
  .contenido-texto{
      display: flex;
      flex-direction: column;
      width: 500px;
      animation: fade linear;
      animation-timeline: view();
      
      
  }
  @keyframes fade{
    0%{
      opacity: 0;
    }20%{
      opacity: 0.4;
    }40%{
      opacity: 0.7;
    }
    100%{
      opacity: 1;
    }
  }
  
  .contenidos-textos{
      position: absolute;
      grid-gap: 200px;
      display: grid;
      flex-direction: column;
      margin-left: 700px;
      top: -35px;
  }
  
  .contenido-texto h2{
      font-size: xx-large;
      color:black;
  }
  .contenido-texto p{
    font-family: Lato;
    font-size: 20px;
    font-weight: 400px;
    line-height: 18.9px;  
    color: black;
  }
  .contenido-0, .contenido-1, .contenido-2, .contenido-3{
      visibility: hidden;
      position: absolute;
      
  }
  
  .mostrar-imagen{
      position: sticky;
      visibility: visible;
      
  }
  
  
  .tituloSeccion-6{
      margin-top: 4500px;
      margin-left: 100px;
  }

/**************** SECCION 7 "”un gran poder conlleva una gran responsabilidad" ****************/
#negro{
  background-color: black;
  clip-path: polygon(100% 10%, 100% 85%, 0 100%, 0 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 550px;
}
#seccion-7 {
  height: 1000px;
  background-color: transparent;
}
.fraseTioBen{
  margin-bottom: 150px;
  margin-left: 70px;
  align-items: center;
  color: #FFFF;
  font-size: 50px;
}
#btn-comprar-ahora {
  position: absolute;
  background-color: #FFE901;
  width: 290px;
  height: 50px;
  margin-top: -20px;
  border-radius: 30px;
  border: solid 4px #2981FF;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: #02187E;
  box-shadow: 5px 5px rgba(2, 24, 126, 1);
  -webkit-text-stroke: 1px #02187E;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 900px;
  position: relative;
  top:-200px;
  z-index: 3000;
  background-color:transparent;
}

/**************** SECCION 8 "Lo último de SPIDEY Y SUS AMIGOS en tu buzón de correo electrónico" ****************/
.theLast {
  height: auto;
  position: relative;
  top: 230px;
  
}
.backgroundsky {
  height: auto;
  position: relative;
  

}
.backgroundsky img {
  width: 100%;
  
}

.buildings {
  position: absolute;
  top:27.5em;
  width: 100%;

}

.buildings img {
  width: 100%;
  
}
.titleSpidey {
  position: absolute;
  display: flex;
  top:  90px;
  left: 270px;
  justify-content: center;
  width: 760px;
}

.titleSpidey h1 {
  color: #000;
  text-align: center;
  font-size: 60px;
  line-height: 94.5%; 
}

.textoInscribirse {
  position: absolute;
  top: 400px; 
  width: auto;
  left: 320px;
  color: #000;
  display: flex;
  flex-direction: column;
}
.textoInscribirse p.si{
  width: 30em;
  font-size: 22px;
  margin-top: 90px;
}
p.no{
  width: 30em;
  font-size: 22px;
  margin-bottom: 40px;
  position: absolute;
  top:150px;
}
.advertencia{
  position: absolute;
  top: 625px;
  left: 330px;
}

.underline{
  text-decoration: underline;
  top:20px
}
div.inputMail {
  display: flex;
  position: absolute;
  margin-top: 46px;
  top:  220px;

 }
 
 .inputMail input{
   background-color: #FFFF;
   border-radius:  50px 0 0 50px;
   border: solid 9px #2981FF;
   border-right: none;
   width: 510px;
   height: 82px;
   letter-spacing: 2px;
   padding: 0px 0px 0px 50px;
   color: #02187E;
   box-shadow: 5px 5px rgba(2, 24, 126, 1);
 }
 
 .inputMail button {
   background-color: #FFE901;
   box-shadow: 5px 5px #02187e;
   border: solid 9px #2981FF;
   border-radius: 0 50px 50px 0;
   height: 99.5px;
   width: 216px;
   cursor: pointer;
   
   color: #02187E;
   -webkit-text-stroke: 1px #02187E;
   font-family: 'Lato', sans-serif;
   font-weight: bolder;
   font-size: 20px;
 }
 
 .inputMail button:hover {
   background-color: #2981FF;
   color: #FFE901;
   -webkit-text-stroke: 1px #FFE901;
 }
 
/********************************************** FOOTER ***********************************************************/
footer{
  width: 100%;
  height: 673px;
  background-color: #5E5E5D;
  position: relative;
  top:70px;
}

.plataforms-container{
  width: 100%;
  height: 75px;
  background-color: #242424;
}

.plataforms{
  width: 1080px;
  height: 75px;
  margin: auto;
}

.plataforms img{
  width: 100%;
  height: 100%;
}

.information-container{
  width: 1080px;
  height: 361px;
  margin: auto;
  margin-top: 38px;
}

.information-container .font-footer{
  width: 820px;
  color: #FFF;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
  letter-spacing: 2.2px;
}

.cookies{
  margin-top: 20px;
  text-decoration-line: underline;

}

.social{
  margin-top: 38px;
}

/********************************** LOADER*****************************************************************/
.loader { 
  border: 16px solid #fffafa; 
  border-top: 16px solid rgb(253, 32, 3); 
  border-radius: 50%; 
  width: 120px; 
  height: 120px; 
  animation: spinloader 2s linear infinite; 
} 
.loader img{ 
  height : 120px; 
  width : 120px; 
  animation: spinlogo 2s linear infinite; 
} 
img.img-loader{
  width: 120px;
  height: 130px;
}

@keyframes spinloader { 
  0% { transform: rotate(0deg); } 
  100% { transform: rotate(360deg); } 
} 
@keyframes spinlogo { 
  0% { transform: rotate(360deg); } 
  100% { transform: rotate(0deg); } 
} 
/*------CARGA---------------*/
.container-progress{
  display: flex;
  width: 400px;
  padding: 50px 0;
  border-radius: 8px;
  row-gap: 30px;
  background-color: #ce0000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left:473px;
  margin-top:8%;
  margin-bottom: 8%;
}
.logo-progress{
  margin: 5px;
  width: 200px;
  height: 89px;
}
.circular-progress{
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: conic-gradient(#af1717 3.6deg, #e82a2a 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circular-progress::before{
  content: "";
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-image: url("./img/loader.png");
  
}
.progress-value{
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: white;
}
#body-loader{
  
  background-color: #02187e;
}

.contenedorTextoCambiante{
  margin-bottom: 200px;
  }
  
  
  .tituloSeccionImgConTexto{
      padding-top: 100px;
  }
  /*IMAGENES CON TEXTO*/

.seccion-imagenes-con-texto {
  display: flex;
  padding-top: 00px;
}

.seccion-img img{
  padding-top: 50px;
  padding-bottom: 50px;
}

.textoCambiante p{
  padding-top: 50px;
  padding-bottom: 50px;
}



/*titulo mas amigos, mas diversion*/
.fijo h2 {
  width: 802px;
  color: #000;
  font-family: Lato;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 94.5%;
  /* 56.7px */
  margin: 50px;
  margin-left: 0px;
}

.textoCambiante {
  padding: 50px;
 
}

.textoCambiante h3 {
  color: #000;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
  /* 37.8px */
}

.textoCambiante p {
  color: #000;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
  /* 18.9px */
}


/*--------------------------------------------SPRIDESHEET PUNTO 13--------------------------------------------*/
.sprite{
  width:300px ;
  height: 161px;
  position: absolute;
  display: flex;
  top:  615px;
  background-image: url("../img/personaje.png");
  margin-left: 600px;
  animation: correr 0.8s steps(5) infinite; /* dividir la animación en 5 pasos y se repite infinitamente*/
}
@keyframes correr{
  0%{
    background-position: 0px;

  }
  100%{
    background-position: 1501px;

  }
}

.spidersprisheetSpider1{
  top:  1000px;
  margin-left: 218px;
}
.spidersprisheetSpider1,.spidersprisheetSpider2,.spidersprisheetSpider3{
  position: absolute;
  display: flex;
}
.spidersprisheetSpider2{
  top:  930px;
  margin-left: 535px;
}
.spidersprisheetSpider3{
  top:  830px;
  margin-left: 1000px;
}