@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    /*Color primario*/
      --colorPrimario: #274F73;
  
      /*Luces*/
      --luz-P1:#476E91;
      --luz-P2:#81A1BE;
      --luz-P3:#AABFD1;
  
      /*Sombras*/
      --sombra-P1:#093E6D;
      --sombra-P2:#0E3151;
      --sombra-P3:#02203A;

    /*Color secundario*/
      --colorSecundario:#592677;
  
      /*Luces*/
      --luz-S1:#794896;
      --luz-S2:#9558BA;
      --luz-S3:#AA82C2;
 
      /*Sombras*/
      --sombra-S1:#390D53;
      --sombra-S2:#33044E;
      --sombra-S3:#220335;
  
    /*Color acento*/
      --colorAcento: #FF7A00;
  
    /*Blancos y negros*/
      --blanco: #ECF6FF;
      --negro:#01101D; 
  
    /*Cancelar y aceptar*/
      --cancelar:#CE1616;
      --aceptar:#1BC700;
  
    /*Fuentes*/
      font-family: 'Roboto';
      --tamaño: 23px;
      --estilo:  normal;
      --weight: 400;
      --line:  normal;
      --tamañochico: 10px;
      --body: 16px;
      --botonesEspaciado: 3.3px;
      --botonTamaño: 15px;
      --tamañoPrecio:32px;
      
  }
  



*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: roboto;
    
}

body{
  width: 100%;
  background-color:var(--colorPrimario);
}
.main-footer{
  grid-area: footer;
}
.navbar-content{
  grid-area: header;
}
.carrusel_juegos{
  grid-area: carruseles;
}
.background-main{
  grid-area: content;
}
.main {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "header"
    "content"
    "carruseles"
    "carruseles"
    "carruseles"
    "carruseles"
    "carruseles" 
    "footer";
}
.logo{
  width: 150px;
  height: 69px;
  margin-left: 50px;
}
img.game-main{
  margin: 2px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*---------- NAVBAR STYLE---------- */
.desplegar {
  transform: translateY(-200%);
}

.navbar-content {
  width: 100%;
  height: 100px;
  background-color: var(--sombra-P2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-content{
  display: flex;
  justify-content: center;
}
.logo{
  width: 180px;
  height: 90px;
}

.left-navbar {
  align-items: center;
  display: flex;
  position:relative;
}
.burger-img{
  cursor: pointer;
  margin-left: 10px;
  height: 20px;
  margin-top: 10px;
}


.nav-burger{
  width: 180px;
  background-color: var(--sombra-P2);
  position: absolute;
  top: 100%;
  left:-20%;
  z-index: 11;
  transition: 0.4s;
  margin: 0px;
  border-bottom-right-radius: 3px;
}

.nav-burger li{
  color:var(--blanco);
  font-size: 16px;
  font-weight: var(--weight);
  font-family: var(--fuente);
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 40px;
  list-style: none;
  transition: all, 300ms;
  cursor: pointer;
}

.nav-burger li:hover{
  color:var(--colorSecundario);
}


.second-main-burger{
  padding-top: 12px;
}

.center-navbar {
  align-items: center;
  display: flex;
}
.right-navbar {
  align-items: center;
  display: flex;
  position:relative;
  
}

.profile-main{
  width: 180px;
  height: 250px;
  padding-left: 20px;
  padding-top: 20px;
  background-color: var(--sombra-P2);
  position: absolute;
  top: 100%;
  right: 0%;
  z-index: 11;
  transition: 0.4s;
  border-bottom-left-radius:3px;
}
.img-profile-redes{
  margin: 6px;
  padding-bottom: 3px;
  height: 35px;
  width: 35px;
}

.container-img ul li{
  list-style: none;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  color:var(--blanco);
  font-family: var(--fuente);
  font-size: 16px;
  font-weight: var(--weight);
}

.container-img ul li p{
  padding-left: 2px;
  cursor: pointer;
  transition: all, 300ms;
}

.container-img ul li p:hover{
  color: var(--colorSecundario);
}

.container-img ul li img{
  padding-right: 6px;
  margin-top: 2px;
  color: var(--blanco);
  width: 30px;
  height: 25px;
}

.user-img {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.icon-menu{
  width: 30px;
  height: 30px;
}
.img-carrito{
  margin-bottom: 5px;
}

.sub{ 
  width: calc(100% - 70px); 
  margin-left: 30px; 
  height: 1px; 
  background:var(--blanco);
}



/*--------FOOTER----------*/
footer {
  background-color:var(--sombra-P3);
  color: white;

}
.main-footer{
  display: flex;
  align-items: flex-start;
  flex-direction:column;
  flex-wrap: wrap;
  padding: 5px;
}
div.div-logo{
  
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}
footer .sec-links h3{
  margin-bottom: 15px;
  display: inline-block;
}
footer .sec-links ul li a{
  display: block;
  color: white;
  margin-bottom: 10px;
  
}
footer .logo ul li {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.redes{
  margin: 15px;

}
.seccion-links{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;

}
.sec-links {
  margin: 15px;
}
.sec-links li img{
  margin-right: 3px;
  width: 18px;
  height: 18px;
}

.footer-logo{
  margin: 10px;
}
.input-footer{
  margin: 10px;
}
.Redessociales{
  display: inline-flex;
  flex-direction: row; 
  justify-content:flex-start;
}
.Redessociales a {
  margin: 5px;
}
.footer-info{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: baseline;
  width: 300px;

  
}
.footer-info p, .footer-info input{
  margin: 5px;
  
}


/*------SECTION CARRUSELES--------*/
.background-main{
  display: flex;
  flex-direction: row;
  align-items: center;
 

}
.parati{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.titulos-home{
  font-family: var(--fuente);
  font-size: 24px;
  color: var(--blanco);
  text-decoration: underline;
  margin-left: 30px
}

/* CARRUSELES JUEGOS */
.carrusel_juegos{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  align-items: flex-start;
}

.carrusel_juegos h2{
  margin-left: 12px;
  font-size: 30px;
}
.carrusel_juegos > div{
  display: flex;
  align-items: center;
}
.carrusel_juegos > div svg{
  display: none;
}

.carrusel_juegos > div .contenedor_juegos {
  display: flex;
  overflow-x: scroll;
  width: calc(100vw - 30px);
  max-width: 1440px;
  gap: 20px;
  padding: 30px 10px;
}



/*------LOGIN----------------------*/
.logo-login .logo{
  width: 400px;
  height: 80px;
}
.container-todo-form{
  display: flex;
  justify-content: center;
  width: 1100px;
  height: 500px;
  padding-left: 15%;
  margin-bottom: 30px;
}
.fotoform{
  width: auto;
  height: 500px;
}
.form-container {
  width: 350px;
  background-color: var(--sombra-P2);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}
.formularios{
  background: linear-gradient(180deg,#274F73,#592677);
  
}
.form-container .title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--blanco);
  font-family: var(--fuente);
  font-size: var(--tamaño);
}
.form {
  margin-top: 1.5rem;
  
}
.input-group {
  margin-right: 25px;
  margin-top: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  
}
.input-group label {
  display: block;
  color: var(--blanco);
  margin-bottom: 4px;
}
.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid var(--sombra-P2);
  outline: 0;
  background-color:var(--sombra-P1);
  padding: 12px;
  color: var(--blanco);
}
.input-group input:focus {
  border-color: var(--colorPrimario);
}
.forgot {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 1rem;
  color: var(--blanco);
  margin: 20px 0 20px 0;
}
.forgot a{
  color: var(--blanco);
}
.forgot a:hover, .signup a:hover {
  text-decoration: underline var(--blanco);
}
.btn-iniciarsesion {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-family: var(--fuente);
  letter-spacing: var(--botonesEspaciado);
  color: var(--blanco);
  font-weight: var(--weight);
  font-size: var(--botonTamaño);
  background-color: var(--colorAcento);
  padding: 10px 5px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}
.btn-iniciarsesion  span {
  position: relative; 
  z-index: 1;
}

.btn-iniciarsesion:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 750%;
  width: 130%;
  background: var(--aceptar);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn-iniciarsesion:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.line1 {
  height: 1px;
  flex: 5 5 0%;
  margin-right: 5px;
  background-color: var(--blanco);
}
.line2 {
  height: 1px;
  flex: 5 5 0%;
  margin-left: 5px;
 
  background-color: var(--blanco);
}

.social-message .message {
  padding-left: 50px;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--blanco);
}
.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons .icon {
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}
.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  font-family: var(--fuente);
}
.crear-cuenta{
  color: var(--blanco);
  font-family: var(--fuente);
}


/*--------REGISTRARSE--------------*/
.form-container-regis{
  width: 340px;
  background-color: var(--sombra-P2);
  padding: 2rem;
  color: var(--blanco);
  padding-top: 0px;
}
.form-container-regis .title-regis{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 15px;
  font-family: var(--fuente);
  font-size: var(--tamaño);
}
.social-icons-registrarse .icon{
  padding: 6px;
  border: none;
  background-color: transparent;
  margin-left: 2px;
}
.parte-superior-regis{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3px ;
}
.social-message-regis{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
    margin-right: 12px;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    color: var(--blanco);
}
.form-regis{
  display: flex;
  flex-direction:column;
  padding-top: 0px;
}
.input-group-regis{
  margin-top: 12px;
  font-size: 0.875rem;
  line-height: 10px;
  font-family: var(--fuente);
  font-size: 14px;

}
.input-group-regis label, .input-group-sup-1 label, .input-group-sup label {
  display: block;
  color: var(--blanco);
  margin-bottom: 6px;
}
.input-group-regis input,.form-primerosinput .input-group-sup-1 input,.form-primerosinput .input-group-sup input{
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid var(--sombra-P2);
  outline: 0;
  background-color:var(--sombra-P1);
  padding: 8px;
  padding-left: 10px;
  color: var(--blanco);
}
.form-primerosinput{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.form-primerosinput .input-group-sup .edad {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid var(--sombra-P2);
  outline: 0;
  background-color:var(--sombra-P1);
  padding: 8px;
  padding-left: 1px;
  color: var(--blanco);
 
}
.input-group-sup-1 .nombreyapellido{
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid var(--sombra-P2);
  outline: 0;
  background-color:var(--sombra-P1);
  color: var(--blanco);
  
}
.input-group-sup{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 10px;
  font-family: var(--fuente);
  font-size: 14px;
  
}
.input-group-sup-1{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--fuente);
  font-size: 14px;
}
.input-group-regis input:focus, .input-group-sup-1 input:focus, .input-group-sup input:focus {
  border-color: var(--colorPrimario);
}


.btn-registrarse {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-family: var(--fuente);
  letter-spacing: var(--botonesEspaciado);
  color: var(--blanco);
  font-weight: var(--weight);
  font-size: var(--botonTamaño);
  background-color: var(--colorAcento);
  padding: 12px 10px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}
.btn-registrarse span {
  position: relative; 
  z-index: 1;
}

.btn-registrarse:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 200%;
  background: var(--aceptar);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn-registrarse:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}




.signup-regis{
  text-align: center;
  font-size: 12px;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  display: flex;
  justify-content: center;
  margin-top: 6px;
}
.signup-iniciar{
  color: var(--blanco);
  margin-left: 2px;
}
.fin-form-regis{
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}
.fin-form-regis .btn-registrarse{
  margin-top: 5px;
}
.obligatorio{
  color: var(--cancelar);
  margin-left: 3px;
}
.signup-regis a:hover{
  text-decoration: underline var(--blanco);
}
/*-----reCaptcha-----------*/
.robot {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--blanco);
  margin-top: 10px;
  height: 30px;
  width: 190px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tx-small {
  margin-left: 8px;
  font-size: var(--tamañochico);
  color: var(--negro);
}
.robot .check {
  width:70%;
  display: flex;
  justify-content: left;
  align-items: center;
}
/*----- Ajusta el tamaño del checkbox -----*/
.check input[type="checkbox"] {
  transform: scale(1.2); /* Cambia el valor para ajustar el tamaño del checkbox */
  margin-right: 5px; /* Espacio entre el checkbox y el texto */
  width: 20px; /* Espacio entre el checkbox y el borde */
}
.logo_recaptcha{
  width:25x ;
  height: 25px;
 
}



/*---------JUEGO--------------*/
.links-juego{
  font-size: 24px;
  font-family: var(--fuente);
  font-weight: bold;
  color: var(--blanco);
  margin-right: 8px;
}
.links-a-inicio a:hover{
  color: var(--colorAcento);
}

.links-a-inicio{
  display: flex;
  flex-direction: row;
  margin: 30px;
  margin-top: 70px;
}
.links-jugadores{
  color: var(--blanco);
}
.links-jugadores:hover{
  color: var(--luz-P3);
}
  
  .titulo-info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 40px;
   
  }
  .titulo-info p{
    margin-left: 5px;
    margin-bottom: 5px;
    text-decoration: underline;
    text-decoration-color: rgba(236, 246, 255, 0.459);
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    
  }
  .info-juego{
    margin: 30px;
    color: var(--blanco);
    font-family: var(--fuente);
    font-size: var(--tamaño);
    font-style: var(--estilo);
    font-weight: var(--weight);
    line-height:var(--line);
    text-align: justify;
  }
  .main-footer{
    grid-area: footer;
  }
  .navbar-content{
    grid-area: header;
  }
 
  
  .info-juego{
    grid-area: info;
  }
  .similares{
    grid-area: similares;
  }
  .body-juego {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    'header header'
    'links-a-inicio links-a-inicio'
    'juego similares'
    'info  similares'
    'footer footer';
  }
  .gameplays{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .gameplays img{
    width:375px ;
    height: 216px;
  }
  img.vermas{
    width: 30px;
    height: 30px;
  }
  .btn-vermas{
    display: flex;
    flex-direction: column;
  }
  .texto-vermas{
    font-family: var(--fuente);
    font-size: var(--tamañochico);
    font-style: var(--estilo);
    font-weight: var(--weight);
    line-height: var(--line);
    margin-top: 5px;
    
  }
  hr{
   background-color: var(--blanco);
   border: 1px solid var(--blanco);
   width: 891px; 
   margin-top: 30px;
   margin-bottom: 10px;
   opacity: 0.1;
   
  }
  .caja-comentario{
    background-color: var(--luz-P3);
    border-radius: 3px;
    height: 94px;
    width: 891px;

  }
  .caja-comentario input{
    width: 710px;
    height: 47px;
    margin: 20px;
    border-radius: 3px;
    border: 1px solid var(--blanco);
  }
  .btn-enviar{
    background-color: var(--colorAcento);
    border: 1px solid var(--colorAcento);
    color: var(--blanco);
    width: 112px;
    height: 48px;
    border-radius: 10px;
  }
  ::placeholder{
    color: var(--luz-P2);
    padding-left: 5px;
  }
  .usuario-comentarios{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    margin: 10px;
  }
  .usuario-comentarios .fecha-comentario{
    margin-left: 5px;
    font-family: var(--fuente);
    font-size: var(--tamañochico);
    line-height: var(--line);
    font-style: var(--estilo);
  }
  .usuario-comentarios .nombre{
    margin-left: 5px;
    font-family: var(--fuente);
    font-size: var(--body);
    line-height: var(--line);
    font-style: var(--estilo);
  }
  .usuario-comentarios .img-user{
    width: 30px;
    height: 30px;
  }
  .comentario{
    font-family: var(--fuente);
    line-height: var(--line);
    font-size: var(--body);
    color: var(--blanco);
    margin: 5px;
    margin-left: 20px;
    font-style: var(--estilo);
  }
  .comentarios{
    display:flex;
    flex-direction: column;

}
.mas-comentarios{
  display: flex;
  flex-direction: column;
  align-items: center;
}



/*----CARDS---------------*/
.similares{
  background-color: var(--luz-S1);
  margin-top: 30px;
  width: 296px;
  margin-right: 5px;
  height: 970px;
  border-radius: 5px;
}
.similares .titulo-similares{
  margin-left: 15px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 24px;
  font-family: var(--fuente);
  font-weight: bold;
  color: var(--blanco);
  text-decoration: underline;
}
.similares-dentro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}


.card-chica, .card-chica-animacion{
  background-color: var(--sombra-S3);
  width: 280px;
  height: 240px;
  border-radius: 10px;
  margin:10px;
  position:relative;
}

.info-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-agregar{
  display: flex;
  justify-content: center;
  margin-left: 8px;
  margin-bottom: 10px;
  margin-top: 18px;
  background-color: var(--colorPrimario);
  width: 141px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid var(--colorPrimario);
  letter-spacing: var(--botonesEspaciado);
  font-family: var(--fuente);
  font-size: var(--botonTamaño);
  color: var(--blanco);
  padding: 15px;
  
}
.btn-añadido{
  display: flex;
  justify-content: center;
  margin-left: 8px;
  margin-bottom: 10px;
  margin-top: 18px;
  background-color: var(--luz-P2);
  width: 141px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid var(--luz-P2);
  letter-spacing: var(--botonesEspaciado);
  font-family: var(--fuente);
  font-size: var(--botonTamaño);
  color: var(--blanco);
  padding: 15px;

}
.carrito-card{
  margin-right: -10px;
}
.btn-añadido:hover{
  background-color:var(--sombra-S3);

}
.carrito-boton{
  margin-right: 5px;
  margin-left: 2px;
 
}
.precio-card{
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  font-family: var(--fuente);
  font-size: var(--tamañoPrecio);
  line-height: var(--line);
  color: var(--colorAcento);
}
.card-chica .img-card, .card-chica-animacion .img-card{
  width:280px ;
  height: 150px;
 border-top-right-radius: 10px;
 border-top-left-radius: 10px;
}
.ribbon-gratis {
  display: flex;
  align-items: center;
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  color: var(--negro);
  font-size: 20px;
  position: absolute;
  height: 40px;
  inset: var(--t) calc(-1*var(--f)) auto auto;
  padding-top: 3px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  clip-path: 
    polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)));
  background: #FFD700;
  box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
  border-radius: 2px;
}
.ribbon-oferta {
  display: flex;
  align-items: center;
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  color: var(--negro);
  font-size: 20px;
  position: absolute;
  height: 40px;
  inset: var(--t) calc(-1*var(--f)) auto auto;
  padding-top: 3px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  clip-path: 
    polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)));
  background:var(--aceptar);
  box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
  border-radius: 2px;
  font-weight: bold;
}


/*------CARDS GRANDES----------------*/
.card-grande{
  width: 300px;
  height:372px ;
  background-color: var(--sombra-S3);
  border-radius: 10px;
  margin: 20px;
  margin-right: 5px;
}
.card-grande .img-card-grande{
  width:300px ;
  height: 180px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.info-card-grande{
  display: flex;
  flex-direction: column;
}
.nombre-juego{
  color: var(--luz-P3);
  font-family: var(--fuente);
  font-size: 20px;
  font-weight: bold;
}
.div-nombre{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.descripcion-card{
  color: var(--luz-P3);
  font-family: var(--fuente);
  font-size: var(--body);
  font-weight: var(--weight);
  margin-left:15px;
  margin-right: 15px;
  margin-top: 3%;
  text-align: justify;

}

.tus-juegos{
  font-family: var(--fuente);
  font-size: 24px;
  font-weight: var(--weight);
}
.linea-juegos{
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  color: var(--blanco);
  margin-top: 30px;
  margin-bottom: 30px;

}
.jugar{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mas-juegos{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.flecha-juegos{
  width: 20px;
  height: 35px;
  transform: rotate(90deg);
  flex-shrink: 0;
}
.ver-mas-juegos{
  font-size: var(--tamañochico);
  font-family: var(--fuente);
  color: var(--sombra-S3);
  font-weight: bold;
}

/*------CARGA---------------*/
.container-progress{
  display: flex;
  width: 400px;
  padding: 50px 0;
  border-radius: 8px;
  background: var(--sombra-P2);
  row-gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left:473px;
  margin-top:8%;
  margin-bottom: 8%;
}
.logo-progress{
  margin: 5px;
  width: 200px;
  height: 89px;
}
.circular-progress{
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circular-progress::before{
  content: "";
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-color: var(--blanco);
}
.progress-value{
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: var(--luz-S1);
}


/*--------SLIDER-ARRIBA-----*/
.carousel {
  opacity: 1;
  position: relative;
  margin-top: 26px;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 50px;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 120%;
 
}

.carousel-control {
  background-color: var(--sombra-P1);
  border-radius: 50%;
  color: var(--sombra-S3);
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: var(--luz-P1);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #e96101;
}


/*------SECTION CARRUSELES----*/
.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  
 
}
div .contenedor{
  width: 400px;
  display: flex;

}
.contenedor {
  display: flex;
  align-items: center;
  gap: 1em;
  
}

/*Botones*/
.btn-izq {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.btn-der {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

/*-------Carrousel----------*/
.container-carrousel {
    position: relative;
    overflow: hidden;
    width: 2000px;
    height: 250px;
    margin-top: 1%;
    margin-bottom: 3%;
}

.carrousel {
    position: absolute;
    display: flex;
    gap: 13px;
    transition: transform .3s ease-out;
}
.card-chica .card-nombre, .card-chica-animacion .card-nombre{
  width: 100%;
  height: 110px;
  background-color:transparent;
  color: white;
  position: absolute;
  top: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
}
/*Efectos hover a las card cuando se muestra el nombre*/
.card-chica:hover .card-nombre, .card-chica-animacion:hover .card-nombre {
        display: flex;
}

.card-chica:hover .img-card, .card-chica-animacion:hover .img-card{
        opacity: 20%;
}
.btn{
  position: relative;
  padding: 20px 50px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 5px;
  text-indent: 10px;
  z-index: 2;
}

/*-----------boton 1----------*/

.btn-1{
  overflow: hidden;
  border: 2px solid var(--aceptar);
  z-index: 2;
  display: flex;
  border-radius: 10px;
  margin-left: 15px;
  margin-top: 10px;
  width: 101px;
  height: 48px;
  border-radius: 10px;
  letter-spacing: var(--botonesEspaciado);
  font-family: var(--fuente);
  font-size: var(--botonTamaño);
  color: var(--blanco);
  padding: 10px;
  padding-top: 13px;
}


.btn-1::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  left: 0;
  top: -200%;
  background-color: var(--aceptar);
  border-radius: 50%;
  transition: all 0.6s ease;
  z-index: -1;
}

.btn-1:hover:before{
  top: 0;
  border-radius: 0%;
}


/*-----------boton 4----------*/
.btn-4{
  width: 100px ;
  height:40px;
  text-align: center;
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 28%;
  margin-left: 70%;
  padding: 10px;
  font-size: var(--botonTamaño);
  letter-spacing: var(--botonesEspaciado);
  color:var(--blanco);

}

p.nuevos-semana{
  position: absolute;
  color: var(--blanco);
  font-family: var(--fuente);
  font-weight: bold;
  font-size: 16px;
  margin-left: -220px;
  margin-top: 10px;
}
.btn-4::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(90deg, #FF7A00, #ff4800, #FF7A00, #f79a43);
  background-size: 300%;
  border-radius: 10px;
  z-index: -1;
  transition: all 0.4s ease;
}

.btn-4:hover::after{
  background-position: 100%;
  filter: blur(15px);
}

.btn-4::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(90deg, rgb(255, 30, 143), rgb(19, 227, 255), rgb(251, 255, 20), rgb(255, 15, 15));
  background-size: 300%;
  border-radius: 10px;
  z-index: -1;
}

.btn-4:hover::before{
  background-position: 100%;
}

/*-----------boton 5----------*/

.btn-5{
  border: 3px solid #17a2ff;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.btn-5::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(10, 157, 255);
  z-index: -2;
}

.btn-5::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 250px;
  left: 0;
  bottom: -150%;
  border-radius: 30%;
  background-color: #151E3F;
  
  z-index: -1;
}

.btn-5:hover::before{
  animation: btn-5 2s linear both;
}


@keyframes btn-5 {
  0%{
      transform: rotate(0deg);
  }
  100%{
      bottom: 100px;
      transform: rotate(360deg);
      
  }
}



.cincocards1{
  margin-left:20px;
  margin-right: 70px;
  

}
.cincocards2{
  margin-left:0px;
  

}


.izq-rotacion {
    width: 50px;
    height: 50px;
    margin-left: 120px;
    margin-top: 90px;
}
.der-rotacion {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-top: 90px;
}
.btn-left-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
.btn-right-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}



.carruselprincipal {
  display: flex;
  height: auto;
  flex-wrap: nowrap;
  overflow: hidden; 
  margin-top: 20px;
  

  
}

.hidden {
display: none;
}
.cardhidden{
display: none;
}

.cincocards1, .cincocards2{
  display: flex;
  width: 100%;
  transition: transform 0.5s ease; /*agrega una transicion suave*/
}

  

.btn-left-cards {
  position: absolute;
  z-index: 100;
  left: 0em;
  width: 5em;
  height: 5em;
}

.btn-right-cards{
  position: absolute;
  z-index: 100;
  right: 1em;
  width: 5em;
  height: 5em;
}


.btn-left-cards img {
  width: 100%;
}

.btn-right-cards img{
 width: 100%;
}
.btn-agregar:hover{
  background-color: var(--sombra-P1);
  border-color: var(--sombra-P1);
}


/*-----------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1024px){

/*--------SLIDER--------*/
  .profile-main{
   right: -10%;
  }
  .carousel-item img {
    display: block;
    height: auto;
    max-width: 115%;
   
  }
/*------SECTION CARRUSELES----*/
div .contenedor{
  width: 1200px;

}
/*--------HEADER-------------*/
  .logo{
    width: 223px;
    height: 105px;
  }
  img.menu_cerrado{
    width: 40px;
    height: 40px;
    margin-right: 0px;
  }
  .navbar-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
.nav-burger{
    width: 200px;
    background-color: var(--sombra-P2);
    position: absolute;
    top: 100%;
    left:-20%;
    z-index: 11;
    transition: 0.4s;
    margin: 0px;
  }
.profile-main{
    width: 200px;
  }
  .burger-img {
    height: 30px;
  }
  .user-img{
    height: 50px;
    width: 50px;
   
  }
  
  
/*---------FOOTER------------*/
  .main-footer{
    display: flex;
    align-items: flex-start;
    flex-direction:row;
    flex-wrap: nowrap;
    padding: 5px;
    justify-content: space-between;
  }
  div.div-logo{
    display: flex;
    align-items: center;
    margin: 0px;
    
  }

.logo-login{
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}
/*---------MIS JUEGOS-------*/
.jugar{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.flecha-juegos{
  transform: rotate(0deg);
}
.ver-mas-juegos{
  margin-top: 5px;
}

/*---ANIMACION REGISTRO-----*/
*{
  padding:0;margin:0
}
.wrapper{
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  background: linear-gradient(180deg,#274F73,#592677);
}
.checkmark__circle{
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: var(--aceptar);
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}
.exito{
  font-family: var(--fuente);
  color: var(--blanco);
  font-weight: bold;
  font-size: 24px;
}
.checkmark{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: var(--blanco);
  stroke-miterlimit: 10;
  margin: 2% auto;
  box-shadow: inset 0px 0px 0px var(--aceptar);
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}
.checkmark__check{
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}
@keyframes stroke{
  100%{stroke-dashoffset: 0}
}
@keyframes scale{
  0%, 100%{
    transform: none
  }
  50%{
    transform: scale3d(1.1, 1.1, 1)
  }
}
@keyframes fill{
  100%{
    box-shadow: inset 0px 0px 0px 30px var(--aceptar)}
  }

/*-----------boton 4----------*/
.btn-4{
  width: 174px ;
  height:48px;
  margin-bottom: 30%;
}
/*-----------CARRUSSEL Y ANIMACION----------*/
.cincocards1{
  margin-left:40px;
  margin-right: 70px;
  

}
.cincocards2{
  margin-left:-68px;
  

}


.izq-rotacion {
    width: 50px;
    height: 50px;
    margin-left: 120px;
    margin-top: 90px;
}
.der-rotacion {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-top: 90px;
}
.btn-left-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
.btn-right-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}



.carruselprincipal {
  display: flex;
  height: auto;
  flex-wrap: nowrap;
  overflow: hidden; 
  margin-top: 20px;
  

  
}

.hidden {
display: none;
}
.cardhidden{
display: none;
}

.cincocards1, .cincocards2{
  display: flex;
  width: 100%;
  transition: transform 0.5s ease; /*agrega una transicion suave*/
}

  

.btn-left-cards {
  position: absolute;
  z-index: 100;
  left: 0em;
  width: 5em;
  height: 5em;
}

.btn-right-cards{
  position: absolute;
  z-index: 100;
  right: 1em;
  width: 5em;
  height: 5em;
}


.btn-left-cards img {
  width: 100%;
}

.btn-right-cards img{
 width: 100%;
}



p.nuevos-semana{
  font-size: 32px;
  margin-left:-500px;
  margin-top: 30px;
}
.logo{
  margin-left: 0px;
}
.titulos-home{
  margin-left: 54px;
}
#flecha_derecha{
  color: #1BC700;
}

/* carruseles juego */
.carrusel_juegos h2{
  margin-left: 52px;
  font-family: var(--fuente);
  font-size: 24px;
  color: var(--blanco);
  font-weight: var(--weight);
  text-decoration: underline;
}
.carrusel_juegos > div svg{
  display: inline;
}
.carrusel_juegos > div .contenedor_juegos{
  width: calc(100vw - 90px);
  overflow: hidden;
}




.card-chica-animacion {
  flex: 0 0 auto;
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}

.contenedor_juegos {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.card-chica-animacion {
  flex: 0 0 auto;
  transition: transform 0.3s ease-in-out;
  transform: skew(0deg);
}

.card-chica-animacion.skew {
  transform: skew(50deg);
}




}
@media only screen and (min-width: 1300px){
p.nuevos-semana{
  font-size: 32px;
  margin-left:-750px;
  margin-top: 30px;
}
.carousel-inner {
 margin-left: 35px;
}
.similares{
  margin-right: 30px;
}
/*---------------------ENTREGABLE 3---------------------------------------------------------- */
#canvas{
  width: 897px;
  height: 536px;
  margin: 30px;
}

canvas{
  position: relative;
}

.oculto,.oculto2 {
  display: none;
}

#eleccionFichas{ 
  background-color: var(--colorAcento);
  border-radius: 10px;
  position: absolute;
  margin-left: 80px;
  margin-top: 300px;
  width: 800px;
  height: 350px; 
  align-items: center;
  padding-left: 40px;
  padding-top: 40px;
  
}
/* estilos.css */
#canvasContainer {
  grid-area: juego;
  position: relative;
  text-align: center;
}


.jugador1, .jugador2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 20px;
  margin-left: 150px;
}

.img-mark{
  width: 100px;
  height: 100px;
  margin-left:20px ;
  margin-top: 20px;
}





#botonJugarCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:  var(--colorAcento);
  color: var(--blanco);
  font-size: 25px;
  font-weight: var(--weight);
  letter-spacing: var(--botonesEspaciado);
  width: 150px;
  height: 60px;
  border-radius: 15px;
  border-color: var(--colorAcento);
}

#opciones{
  background-color: var(--colorAcento);
  border-radius: 10px;
  position: absolute;
  margin-left: 80px;
  margin-top: 400px;
  width: 800px;
  height: 200px; 
  align-items: center;
  padding-left: 40px;
  padding-top: 40px;
}
#opciones p{
  margin-left: 20px;
  font-family: var(--fuente);
  font-size: 20px;
  color: var(--blanco);
}
#cuatroEnLinea,#cincoEnLinea,#seisEnLinea{
  margin: 20px;
  width: 200px;
  height: 40px;
  background-color: var(--sombra-P1);
  border-radius: 5px;
  color: var(--blanco);
  font-size: 12px;
  border: none;
  letter-spacing: var(--botonesEspaciado);
  
}
#cuatroEnLinea:hover,#cincoEnLinea:hover,#seisEnLinea:hover{
  background-color: var(--sombra-P3);
}



}